<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/opdrachten"></ion-back-button>
    </ion-buttons>
    <ion-title>Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="../../assets/imges/img1.jpeg">
    <ion-card-header>
      <ion-card-subtitle>Nederland</ion-card-subtitle>
      <ion-card-title>Mooie Vlinder</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur officia maxime consectetur reiciendis odit modi,
      soluta, beatae itaque, reprehenderit numquam delectus quod aperiam in. Dolorem nam veniam doloribus error
      veritatis.
    </ion-card-content>
  </ion-card>
</ion-content>