<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/opdrachten"></ion-back-button>
    </ion-buttons>
    <ion-title>Media</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!---Normal imge -->
  <h1 class="ion-text-center">Img Component</h1>
  <ion-img src="../../../assets/imges/img3.jpeg" alt="vlendir"></ion-img>
  <h1 class="ion-text-center">Img insaid avatar component </h1>
  <ion-avatar>
    <ion-img src="../../../assets/imges/img5.jpeg" alt="vlendir"></ion-img>
  </ion-avatar>
  <h1 class="ion-text-center">Img insaid thumbnail component </h1>
  <ion-thumbnail>
    <ion-img src="../../../assets/imges/img6.jpeg" alt="vlendir"></ion-img>
  </ion-thumbnail>
</ion-content>