<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Opdrachten</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-button ionFocus color="warning" [routerLink]="['/opdrachten','button']" class=""> Button</ion-button>
  <ion-button color="secondary" [routerLink]="['/opdrachten','card']" class="">Cards</ion-button>
  <ion-button color="dark" [routerLink]="['/opdrachten','chip']" class="">Chip</ion-button>
  <ion-button color="primary" [routerLink]="['/opdrachten','fab']" class="">FAB</ion-button>
  <ion-button color="danger" [routerLink]="['/opdrachten','item']" class=""> Item</ion-button>

  <ion-button color="warning" [routerLink]="['/opdrachten','item-sliding']" class=""> Item Slide</ion-button>
  <ion-button color="dark" [routerLink]="['/opdrachten','media']" class=""> Media Component</ion-button>
  <ion-button color="primary" [routerLink]="['/opdrachten','spinner']" class="">Spinner</ion-button>
  <ion-button color="success" [routerLink]="['/opdrachten','skeleton']" class="">Skeleton</ion-button>
  <ion-button color="secondary" [routerLink]="['/opdrachten','progress-bar']">Progress Bar</ion-button>

  <ion-button color="danger" [routerLink]="['/opdrachten','refresher']" class=""> Refresher</ion-button>
  <ion-button color="primary" [routerLink]="['/opdrachten','reorder']" class="">Reorder</ion-button>
  <ion-badge>99</ion-badge>

</ion-content>