<ion-tabs>
  <ion-tab-bar slott="bottom">
    <ion-tab-button tab="about">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="services">
      <ion-icon name="rocket-outline"></ion-icon>
      <ion-label>Services</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="contacts">
      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
      <ion-label>Contacts</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>