<ion-app>
  <ion-menu menuId="main-menu" contentId="main">
    <ion-header [translucent]="true">
      <ion-toolbar>

        <ion-title>
          Welcom!
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/users']">
            <ion-label>All Users</ion-label>
            <ion-text slot="end" color="success">
              (Observable)
            </ion-text>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/opdrachten','button']">
            <ion-label>Buttons</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/opdrachten','card']">
            <ion-label>Card</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/opdrachten','chip']">
            <ion-label>Chip</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/opdrachten','fab']">
            <ion-label>FAB</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/opdrachten','item']">
            <ion-label>Item</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/opdrachten','item-sliding']">
            <ion-label>Item Slide</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/opdrachten','media']">
            <ion-label>Media Component</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/opdrachten','spinner']">
            <ion-label>Spinner</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/opdrachten','skeleton']">
            <ion-label>Skeleton</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/opdrachten','progress-bar']">
            <ion-label>Progress Bar</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/opdrachten','refresher']">
            <ion-label>Refresher</ion-label>
            <ion-text slot="end" color="danger">
              (Event)
            </ion-text>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/opdrachten','reorder']">
            <ion-label>Reorder </ion-label>
            <ion-text slot="end" color="danger">
              (Event)
            </ion-text>

          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/opdrachten','loading-controller']">
            <ion-label>Loading Contoller</ion-label>
            <ion-text slot="end" color="primary">
              (Promises)
            </ion-text>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/opdrachten','toast']">
            <ion-label>Toast</ion-label>
            <ion-text slot="end" color="primary">
              (Promises)
            </ion-text>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/opdrachten','action-sheet']">
            <ion-label>Action sheet</ion-label>
            <ion-text slot="end" color="primary">
              (Promises)
            </ion-text>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/opdrachten','alert']">
            <ion-label>Alert</ion-label>
            <ion-text slot="end" color="primary">
              (Promises)
            </ion-text>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/opdrachten','form']">
            <ion-label>Form</ion-label>
            <ion-text color="success">
              (tow data binding)(Event)
            </ion-text>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/opdrachten','segment']">
            <ion-label>Segment</ion-label>
            <ion-text color="success">
              (tow data binding)(Event)
            </ion-text>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>