<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/opdrachten"></ion-back-button>
    </ion-buttons>
    <ion-title>Loading Controller</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" color="dark" (click)="loadingPosts()">Loading posts</ion-button>
  <ion-card *ngFor="let post of postsAll">
    <ion-card-header>
      <ion-card-title>{{post.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{post.body}}
    </ion-card-content>
  </ion-card>
</ion-content>