<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/opdrachten/form"></ion-back-button>
    </ion-buttons>
    <ion-title>Textarea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Textarea Position</h2>
  <ion-item>
    <ion-label position="fixed">Fixed Input</ion-label>
    <ion-textarea rows="5"> </ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Floating Textarea</ion-label>
    <ion-textarea rows="5"> </ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Stacked Textarea</ion-label>
    <ion-textarea rows="5"> </ion-textarea>
  </ion-item>
  <h2>Textarea Example</h2>
  <ion-item>
    <ion-label>message-1</ion-label>
    <ion-textarea rows="1" autoGrow> </ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label>message-2</ion-label>
    <ion-textarea rows="3" clearOnEdit> </ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label>message-3</ion-label>
    <ion-textarea rows="5" autofocus> </ion-textarea>
  </ion-item>
</ion-content>