<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/opdrachten"></ion-back-button>
    </ion-buttons>
    <ion-title>Reorder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-reorder-group [disabled]="isDisabled" (ionItemReorder)="doReorder($event)">
    <ion-reorder class="rij" *ngFor="let user of users; let i=index; let first = first; let last = last">
      <ion-item>
        <ion-label>{{i+1 +'- '}}{{ user.name }}</ion-label>
        <!---deze manner als wij gebruiken ionic logic-->
        <!-- <ion-icon [name]="(first ? 'arrow-down' : (last ? 'arrow-up' : 'swap-vertical-outline'))" slot="end"> -->
        <!-- </ion-icon> -->
      </ion-item>
    </ion-reorder>

  </ion-reorder-group>
  <ion-button class="ion-padding" [color]="isDisabled ?'danger' :'primary'" (click)="editListOrder()">
    {{isDisabled ? 'Edit Order' : 'Save new list'}}
  </ion-button>
  <!-- <ion-button color="danger" (click)="editListOrder()">Edit the order</ion-button>
  <ion-button (click)="saveListOrder()">Save the list </ion-button> -->
</ion-content>